.NavBar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.NavBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar nav ul li {
  display: inline-block;
  margin: 20px;
}

.NavBar a {
  text-decoration: none;
  color: #495e57;
}

.NavBar a:hover {
  border-bottom: 5px solid purple;
}

.NavBar .MobileNavigation {
  display: none;
}

@media (max-width: 990px) {
  .NavBar .Navigation {
    display: none;
  }

  .NavBar .MobileNavigation {
    display: flex;
    align-items: center;
  }

  .NavBar .MobileNavigation .Hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  .NavBar nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #495e57;
    border-top: 2px solid #8c1cd1;
  }

  .NavBar nav ul li {
    padding-left: 15%;
  }

  .NavBar li a {
    color: white;
  }

  .NavBar li a:hover {
    border-bottom: none;
    color: #8c1cd1;
  }
}
